<aside class="sidebar">
    <div class="sidebar__header">
        <img src="./assets/images/sidebar-header.jpg" alt="">
    </div>
    <div class="sidebar__content"></div>
        <div class="profile">
            <img src="https://placehold.it/100" alt="" class="profile__avatar">
            <div class="profile__name">Evgeniy Karas</div>
            <div class="profile__prof">Junior Front-end developer</div>
            <ul class="social">
                <li class="social__item">
                    <a href="#" class="social__link" target="_blank">
                        <img src="./assets/images/instagram.svg" alt="Evgeniy Karas Instagram">
                    </a>
                </li>
                <li class="social__item">
                    <a href="#" class="social__link" target="_blank">
                        <img src="./assets/images/vk.svg" alt="Evgeniy Karas VK">
                    </a>
                </li>
                <li class="social__item">
                    <a href="#" class="social__link" target="_blank">
                        <img src="./assets/images/pinterest.svg" alt="Evgeniy Karas Pinterest">
                    </a>
                </li>
            </ul>
        </div>
    <div class="sidebar__footer"></div>
    
</aside>

